In [215]:
import pandas as pd
import numpy as np
import matplotlib
%matplotlib inline
import pandas_profiling as pp
import warnings
warnings.filterwarnings('ignore')
from sklearn.preprocessing import LabelEncoder,OneHotEncoder

In [216]:
#!pip install pandas-profiling

In [217]:

train =pd.read_csv("traindata.csv")

In [218]:
test =pd.read_csv("testdata.csv")

In [219]:
result =pd.read_csv("Result Evaluation.csv")

In [220]:
train.head()

,ID,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,imp_op_var40_comer_ult1,imp_op_var40_ult1,imp_op_var41_comer_ult1,imp_op_var41_comer_ult3,...,saldo_medio_var13_medio_ult1,saldo_medio_var17_ult3,saldo_medio_var29_hace2,saldo_medio_var29_hace3,saldo_medio_var29_ult1,saldo_medio_var33_hace3,saldo_medio_var33_ult3,saldo_medio_var44_hace3,var38,TARGET
0,142882,2,55,30.0,17.73,17.73,0.00,0.0,17.73,17.73,...,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,59375.97,2807855.303
1,116073,2,26,0.0,0.00,0.00,0.00,0.0,0.00,0.00,...,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,117951.42,0.000
2,40727,2,31,180.0,1051.86,1145.91,0.00,0.0,1051.86,1145.91,...,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,81164.61,0.000
3,96753,89,55,0.0,1353.03,1998.81,990.75,0.0,362.28,362.28,...,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,137912.85,0.000
4,105319,2,24,0.0,0.00,0.00,0.00,0.0,0.00,0.00,...,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,40407.66,0.000

In [221]:
test.head()

,ID,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,imp_op_var40_comer_ult1,imp_op_var40_ult1,imp_op_var41_comer_ult1,imp_op_var41_comer_ult3,...,saldo_medio_var13_medio_hace3,saldo_medio_var13_medio_ult1,saldo_medio_var17_ult3,saldo_medio_var29_hace2,saldo_medio_var29_hace3,saldo_medio_var29_ult1,saldo_medio_var33_hace3,saldo_medio_var33_ult3,saldo_medio_var44_hace3,var38
0,64252,2,42,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0.0,0,0,0,0.0,0.0,0.0,117310.979
1,31278,2,38,0.0,509.7,509.7,0.0,0.0,509.7,509.7,...,0,0,0.0,0,0,0,0.0,0.0,0.0,42403.350
2,148245,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0.0,0,0,0,0.0,0.0,0.0,238795.140
3,133657,2,25,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0.0,0,0,0,0.0,0.0,0.0,105854.070
4,68463,2,25,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0.0,0,0,0,0.0,0.0,0.0,81031.830

In [222]:
result.head()

       ID  TARGET
0   64252     0.0
1   31278     0.0
2  148245     0.0
3  133657     0.0
4   68463     0.0

In [223]:
train.columns

Index(['ID', 'var3', 'var15', 'imp_ent_var16_ult1', 'imp_op_var39_comer_ult1',
       'imp_op_var39_comer_ult3', 'imp_op_var40_comer_ult1',
       'imp_op_var40_ult1', 'imp_op_var41_comer_ult1',
       'imp_op_var41_comer_ult3',
       ...
       'saldo_medio_var13_medio_ult1', 'saldo_medio_var17_ult3',
       'saldo_medio_var29_hace2', 'saldo_medio_var29_hace3',
       'saldo_medio_var29_ult1', 'saldo_medio_var33_hace3',
       'saldo_medio_var33_ult3', 'saldo_medio_var44_hace3', 'var38', 'TARGET'],
      dtype='object', length=215)

In [224]:
test.columns

Index(['ID', 'var3', 'var15', 'imp_ent_var16_ult1', 'imp_op_var39_comer_ult1',
       'imp_op_var39_comer_ult3', 'imp_op_var40_comer_ult1',
       'imp_op_var40_ult1', 'imp_op_var41_comer_ult1',
       'imp_op_var41_comer_ult3',
       ...
       'saldo_medio_var13_medio_hace3', 'saldo_medio_var13_medio_ult1',
       'saldo_medio_var17_ult3', 'saldo_medio_var29_hace2',
       'saldo_medio_var29_hace3', 'saldo_medio_var29_ult1',
       'saldo_medio_var33_hace3', 'saldo_medio_var33_ult3',
       'saldo_medio_var44_hace3', 'var38'],
      dtype='object', length=214)

In [225]:
train.columns.difference(test.columns)

Index(['TARGET'], dtype='object')

In [226]:
print("train size :",train.shape)
print("test size :",test.shape)

train size : (13999, 215)
test size : (5806, 214)

In [227]:
#pandas_profiling.ProfileReport(train)

In [228]:
train["source"] = "train"
test["source"] = "test"

In [229]:
train.head()

,ID,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,imp_op_var40_comer_ult1,imp_op_var40_ult1,imp_op_var41_comer_ult1,imp_op_var41_comer_ult3,...,saldo_medio_var17_ult3,saldo_medio_var29_hace2,saldo_medio_var29_hace3,saldo_medio_var29_ult1,saldo_medio_var33_hace3,saldo_medio_var33_ult3,saldo_medio_var44_hace3,var38,TARGET,source
0,142882,2,55,30.0,17.73,17.73,0.00,0.0,17.73,17.73,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,59375.97,2807855.303,train
1,116073,2,26,0.0,0.00,0.00,0.00,0.0,0.00,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,117951.42,0.000,train
2,40727,2,31,180.0,1051.86,1145.91,0.00,0.0,1051.86,1145.91,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,81164.61,0.000,train
3,96753,89,55,0.0,1353.03,1998.81,990.75,0.0,362.28,362.28,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,137912.85,0.000,train
4,105319,2,24,0.0,0.00,0.00,0.00,0.0,0.00,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,40407.66,0.000,train

In [230]:
test.head()

,ID,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,imp_op_var40_comer_ult1,imp_op_var40_ult1,imp_op_var41_comer_ult1,imp_op_var41_comer_ult3,...,saldo_medio_var13_medio_ult1,saldo_medio_var17_ult3,saldo_medio_var29_hace2,saldo_medio_var29_hace3,saldo_medio_var29_ult1,saldo_medio_var33_hace3,saldo_medio_var33_ult3,saldo_medio_var44_hace3,var38,source
0,64252,2,42,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0.0,0,0,0,0.0,0.0,0.0,117310.979,test
1,31278,2,38,0.0,509.7,509.7,0.0,0.0,509.7,509.7,...,0,0.0,0,0,0,0.0,0.0,0.0,42403.350,test
2,148245,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0.0,0,0,0,0.0,0.0,0.0,238795.140,test
3,133657,2,25,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0.0,0,0,0,0.0,0.0,0.0,105854.070,test
4,68463,2,25,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0.0,0,0,0,0.0,0.0,0.0,81031.830,test

In [275]:
dataf = pd.concat([train,test],axis=0,sort=False)

In [276]:
dataf = dataf.reset_index()

In [277]:
dataf.isna().sum()

index                               0
ID                                  0
var3                                0
var15                               0
imp_ent_var16_ult1                  0
imp_op_var39_comer_ult1             0
imp_op_var39_comer_ult3             0
imp_op_var40_comer_ult1             0
imp_op_var40_ult1                   0
imp_op_var41_comer_ult1             0
imp_op_var41_comer_ult3             0
imp_op_var41_efect_ult1             0
imp_op_var41_efect_ult3             0
imp_op_var41_ult1                   0
imp_op_var39_efect_ult3             0
imp_op_var39_ult1                   0
imp_sal_var16_ult1                  0
ind_var1                            0
ind_var5_0                          0
ind_var5                            0
ind_var6                            0
ind_var8_0                          0
ind_var12_0                         0
ind_var13_0                         0
ind_var13_medio_0                   0
ind_var14                           0
ind_var17_0                         0
ind_var17                           0
ind_var18_0                         0
ind_var20                           0
                                 ...
saldo_var2_ult1                     0
saldo_medio_var5_hace2              0
saldo_medio_var5_hace3              0
saldo_medio_var5_ult1               0
saldo_medio_var5_ult3               0
saldo_medio_var8_hace2              0
saldo_medio_var8_hace3              0
saldo_medio_var8_ult1               0
saldo_medio_var12_hace2             0
saldo_medio_var12_hace3             0
saldo_medio_var12_ult1              0
saldo_medio_var12_ult3              0
saldo_medio_var13_corto_hace2       0
saldo_medio_var13_corto_hace3       0
saldo_medio_var13_corto_ult3        0
saldo_medio_var13_largo_hace3       0
saldo_medio_var13_largo_ult1        0
saldo_medio_var13_largo_ult3        0
saldo_medio_var13_medio_hace3       0
saldo_medio_var13_medio_ult1        0
saldo_medio_var17_ult3              0
saldo_medio_var29_hace2             0
saldo_medio_var29_hace3             0
saldo_medio_var29_ult1              0
saldo_medio_var33_hace3             0
saldo_medio_var33_ult3              0
saldo_medio_var44_hace3             0
var38                               0
TARGET                           5806
source                              0
Length: 217, dtype: int64

In [278]:
dataf.head()

,index,ID,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,imp_op_var40_comer_ult1,imp_op_var40_ult1,imp_op_var41_comer_ult1,...,saldo_medio_var17_ult3,saldo_medio_var29_hace2,saldo_medio_var29_hace3,saldo_medio_var29_ult1,saldo_medio_var33_hace3,saldo_medio_var33_ult3,saldo_medio_var44_hace3,var38,TARGET,source
0,0,142882,2,55,30.0,17.73,17.73,0.00,0.0,17.73,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,59375.97,2807855.303,train
1,1,116073,2,26,0.0,0.00,0.00,0.00,0.0,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,117951.42,0.000,train
2,2,40727,2,31,180.0,1051.86,1145.91,0.00,0.0,1051.86,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,81164.61,0.000,train
3,3,96753,89,55,0.0,1353.03,1998.81,990.75,0.0,362.28,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,137912.85,0.000,train
4,4,105319,2,24,0.0,0.00,0.00,0.00,0.0,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,40407.66,0.000,train

In [279]:
dataf.tail()

,index,ID,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,imp_op_var40_comer_ult1,imp_op_var40_ult1,imp_op_var41_comer_ult1,...,saldo_medio_var17_ult3,saldo_medio_var29_hace2,saldo_medio_var29_hace3,saldo_medio_var29_ult1,saldo_medio_var33_hace3,saldo_medio_var33_ult3,saldo_medio_var44_hace3,var38,TARGET,source
19800,5801,13465,2,44,0.00,0.00,0.0,0.0,0.0,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,43675.17,NaN,test
19801,5802,72921,2,55,1897.98,510.72,650.4,0.0,0.0,510.72,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,38451.45,NaN,test
19802,5803,140690,2,23,90.00,0.00,0.0,0.0,0.0,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,460707.72,NaN,test
19803,5804,27590,2,23,0.00,0.00,0.0,0.0,0.0,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,75645.24,NaN,test
19804,5805,63508,2,25,0.00,0.00,0.0,0.0,0.0,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,44348.82,NaN,test

In [280]:
for x in dataf.columns:
    if dataf[x].sum()==0:
        print(x)
        dataf.drop(columns=x,axis=1,inplace=True)

ind_var13_medio_0
ind_var18_0
ind_var27_0
ind_var46_0
ind_var46
num_var13_medio
num_var28
num_var34_0
num_var34
num_var41
num_var46_0
saldo_var13_medio
saldo_var18
saldo_var28
saldo_var41
imp_amort_var18_hace3
imp_reemb_var17_hace3
imp_reemb_var33_hace3
imp_trasp_var17_in_hace3
imp_trasp_var17_out_hace3
imp_trasp_var33_out_ult1
num_var2_0_ult1
num_var2_ult1
num_reemb_var13_hace3
num_trasp_var17_in_hace3
num_trasp_var17_out_hace3
num_trasp_var33_out_hace3
saldo_var2_ult1
saldo_medio_var13_medio_hace3
saldo_medio_var13_medio_ult1

In [281]:
dataf.shape

(19805, 187)

In [282]:
train.isnull().sum()

ID                               0
var3                             0
var15                            0
imp_ent_var16_ult1               0
imp_op_var39_comer_ult1          0
imp_op_var39_comer_ult3          0
imp_op_var40_comer_ult1          0
imp_op_var40_ult1                0
imp_op_var41_comer_ult1          0
imp_op_var41_comer_ult3          0
imp_op_var41_efect_ult1          0
imp_op_var41_efect_ult3          0
imp_op_var41_ult1                0
imp_op_var39_efect_ult3          0
imp_op_var39_ult1                0
imp_sal_var16_ult1               0
ind_var1                         0
ind_var5_0                       0
ind_var5                         0
ind_var6                         0
ind_var8_0                       0
ind_var12_0                      0
ind_var13_0                      0
ind_var13_medio_0                0
ind_var14                        0
ind_var17_0                      0
ind_var17                        0
ind_var18_0                      0
ind_var20                        0
ind_var24_0                      0
                                ..
saldo_var2_ult1                  0
saldo_medio_var5_hace2           0
saldo_medio_var5_hace3           0
saldo_medio_var5_ult1            0
saldo_medio_var5_ult3            0
saldo_medio_var8_hace2           0
saldo_medio_var8_hace3           0
saldo_medio_var8_ult1            0
saldo_medio_var12_hace2          0
saldo_medio_var12_hace3          0
saldo_medio_var12_ult1           0
saldo_medio_var12_ult3           0
saldo_medio_var13_corto_hace2    0
saldo_medio_var13_corto_hace3    0
saldo_medio_var13_corto_ult3     0
saldo_medio_var13_largo_hace3    0
saldo_medio_var13_largo_ult1     0
saldo_medio_var13_largo_ult3     0
saldo_medio_var13_medio_hace3    0
saldo_medio_var13_medio_ult1     0
saldo_medio_var17_ult3           0
saldo_medio_var29_hace2          0
saldo_medio_var29_hace3          0
saldo_medio_var29_ult1           0
saldo_medio_var33_hace3          0
saldo_medio_var33_ult3           0
saldo_medio_var44_hace3          0
var38                            0
TARGET                           0
source                           0
Length: 216, dtype: int64

In [283]:
test.isna().sum()

ID                               0
var3                             0
var15                            0
imp_ent_var16_ult1               0
imp_op_var39_comer_ult1          0
imp_op_var39_comer_ult3          0
imp_op_var40_comer_ult1          0
imp_op_var40_ult1                0
imp_op_var41_comer_ult1          0
imp_op_var41_comer_ult3          0
imp_op_var41_efect_ult1          0
imp_op_var41_efect_ult3          0
imp_op_var41_ult1                0
imp_op_var39_efect_ult3          0
imp_op_var39_ult1                0
imp_sal_var16_ult1               0
ind_var1                         0
ind_var5_0                       0
ind_var5                         0
ind_var6                         0
ind_var8_0                       0
ind_var12_0                      0
ind_var13_0                      0
ind_var13_medio_0                0
ind_var14                        0
ind_var17_0                      0
ind_var17                        0
ind_var18_0                      0
ind_var20                        0
ind_var24_0                      0
                                ..
num_var45_ult3                   0
saldo_var2_ult1                  0
saldo_medio_var5_hace2           0
saldo_medio_var5_hace3           0
saldo_medio_var5_ult1            0
saldo_medio_var5_ult3            0
saldo_medio_var8_hace2           0
saldo_medio_var8_hace3           0
saldo_medio_var8_ult1            0
saldo_medio_var12_hace2          0
saldo_medio_var12_hace3          0
saldo_medio_var12_ult1           0
saldo_medio_var12_ult3           0
saldo_medio_var13_corto_hace2    0
saldo_medio_var13_corto_hace3    0
saldo_medio_var13_corto_ult3     0
saldo_medio_var13_largo_hace3    0
saldo_medio_var13_largo_ult1     0
saldo_medio_var13_largo_ult3     0
saldo_medio_var13_medio_hace3    0
saldo_medio_var13_medio_ult1     0
saldo_medio_var17_ult3           0
saldo_medio_var29_hace2          0
saldo_medio_var29_hace3          0
saldo_medio_var29_ult1           0
saldo_medio_var33_hace3          0
saldo_medio_var33_ult3           0
saldo_medio_var44_hace3          0
var38                            0
source                           0
Length: 215, dtype: int64

In [284]:
dataf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19805 entries, 0 to 19804
Columns: 187 entries, index to source
dtypes: float64(63), int64(123), object(1)
memory usage: 28.3+ MB

In [285]:
dataf.describe()

,index,ID,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,imp_op_var40_comer_ult1,imp_op_var40_ult1,imp_op_var41_comer_ult1,...,saldo_medio_var13_largo_ult3,saldo_medio_var17_ult3,saldo_medio_var29_hace2,saldo_medio_var29_hace3,saldo_medio_var29_ult1,saldo_medio_var33_hace3,saldo_medio_var33_ult3,saldo_medio_var44_hace3,var38,TARGET
count,19805.000000,19805.000000,19805.000000,19805.000000,19805.000000,19805.000000,19805.000000,19805.000000,19805.000000,19805.000000,...,19805.000000,19805.000000,19805.000000,19805.000000,19805.000000,19805.000000,19805.000000,19805.000000,1.980500e+04,1.399900e+04
mean,5798.077051,75847.628074,-1108.083211,33.555971,103.503476,73.296464,118.198214,2.932634,2.076123,70.363830,...,705.556534,35.618222,0.003028,0.007331,0.169930,2.875303,15.463984,2.583302,1.148312e+05,4.320326e+05
std,3980.592731,43704.867512,33311.509459,13.051363,1899.254687,349.740142,535.804476,72.638749,54.823642,335.699006,...,11669.458279,1469.079574,0.426134,1.031761,23.914263,192.520603,870.190487,222.376009,1.131974e+05,1.740301e+06
min,0.000000,3.000000,-999999.000000,5.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.163750e+03,0.000000e+00
25%,2475.000000,38062.000000,2.000000,23.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.702216e+04,0.000000e+00
50%,4951.000000,75936.000000,2.000000,28.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.056963e+05,0.000000e+00
75%,9047.000000,113550.000000,2.000000,40.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.184206e+05,0.000000e+00
max,13998.000000,151808.000000,223.000000,104.000000,135000.000000,12888.030000,16086.060000,6300.690000,4583.760000,12888.030000,...,449999.940000,114485.010000,59.970000,145.200000,3365.460000,20385.720000,91778.730000,24650.010000,6.942616e+06,3.862577e+07

In [286]:
dataf.nunique()

index                            13999
ID                               19805
var3                               110
var15                               95
imp_ent_var16_ult1                 262
imp_op_var39_comer_ult1           2275
imp_op_var39_comer_ult3           2677
imp_op_var40_comer_ult1             80
imp_op_var40_ult1                   54
imp_op_var41_comer_ult1           2244
imp_op_var41_comer_ult3           2652
imp_op_var41_efect_ult1            186
imp_op_var41_efect_ult3            239
imp_op_var41_ult1                 2351
imp_op_var39_efect_ult3            243
imp_op_var39_ult1                 2370
imp_sal_var16_ult1                  29
ind_var1                             2
ind_var5_0                           2
ind_var5                             2
ind_var6                             2
ind_var8_0                           2
ind_var12_0                          2
ind_var13_0                          2
ind_var14                            2
ind_var17_0                          2
ind_var17                            2
ind_var20                            2
ind_var24_0                          2
ind_var25_cte                        2
                                 ...
num_var45_hace3                     58
num_var45_ult1                      73
num_var45_ult3                     131
saldo_medio_var5_hace2            4529
saldo_medio_var5_hace3            2762
saldo_medio_var5_ult1             4454
saldo_medio_var5_ult3             5623
saldo_medio_var8_hace2             376
saldo_medio_var8_hace3             126
saldo_medio_var8_ult1              610
saldo_medio_var12_hace2            740
saldo_medio_var12_hace3            310
saldo_medio_var12_ult1             873
saldo_medio_var12_ult3             877
saldo_medio_var13_corto_hace2      488
saldo_medio_var13_corto_hace3      295
saldo_medio_var13_corto_ult3       734
saldo_medio_var13_largo_hace3       71
saldo_medio_var13_largo_ult1        83
saldo_medio_var13_largo_ult3       130
saldo_medio_var17_ult3              24
saldo_medio_var29_hace2              2
saldo_medio_var29_hace3              2
saldo_medio_var29_ult1               2
saldo_medio_var33_hace3              8
saldo_medio_var33_ult3              12
saldo_medio_var44_hace3              9
var38                            15690
TARGET                            1285
source                               2
Length: 187, dtype: int64

In [287]:
data_column_category = dataf.select_dtypes(exclude=[np.number]).columns

In [288]:
data_column_Integer = dataf.columns.difference(data_column_category)

In [294]:
data_column_Integer

Index(['ID', 'TARGET', 'delta_imp_compra_var44_1y3',
       'delta_imp_reemb_var13_1y3', 'delta_imp_reemb_var33_1y3',
       'delta_imp_trasp_var17_in_1y3', 'delta_imp_venta_var44_1y3',
       'delta_num_aport_var17_1y3', 'delta_num_compra_var44_1y3',
       'delta_num_reemb_var13_1y3',
       ...
       'saldo_var33', 'saldo_var40', 'saldo_var42', 'saldo_var44',
       'saldo_var5', 'saldo_var8', 'var15', 'var3', 'var36', 'var38'],
      dtype='object', length=186)

In [295]:
X=[x for x in dataf.columns if x not in (['ID','source','TARGET'])]
X_train=dataf[X]
X_train.head()

,index,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,imp_op_var40_comer_ult1,imp_op_var40_ult1,imp_op_var41_comer_ult1,imp_op_var41_comer_ult3,...,saldo_medio_var13_largo_ult1,saldo_medio_var13_largo_ult3,saldo_medio_var17_ult3,saldo_medio_var29_hace2,saldo_medio_var29_hace3,saldo_medio_var29_ult1,saldo_medio_var33_hace3,saldo_medio_var33_ult3,saldo_medio_var44_hace3,var38
0,0,2,55,30.0,17.73,17.73,0.00,0.0,17.73,17.73,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,59375.97
1,1,2,26,0.0,0.00,0.00,0.00,0.0,0.00,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,117951.42
2,2,2,31,180.0,1051.86,1145.91,0.00,0.0,1051.86,1145.91,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,81164.61
3,3,89,55,0.0,1353.03,1998.81,990.75,0.0,362.28,362.28,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,137912.85
4,4,2,24,0.0,0.00,0.00,0.00,0.0,0.00,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,40407.66

In [297]:
from sklearn.preprocessing import StandardScaler
sc_X = StandardScaler()
df_mod = sc_X.fit_transform(X_train)

df_mod=pd.DataFrame(df_mod,columns=X)
df_mod=pd.concat([df_mod,dataf[['ID','source']]],axis=1)

In [298]:
import matplotlib.pyplot as plt
from sklearn.decomposition import PCA
%matplotlib inline

In [299]:
n_components=20
pca = PCA(n_components)
cols=[]
for i in range(n_components):
    nm='PCA'+str(i+1)
    cols.append(nm)

In [301]:
X=[x for x in df_mod.columns if x not in (['ID','source','TARGET'])]


principalComponents = pca.fit_transform(df_mod[X])

PCAdf = pd.DataFrame(data = principalComponents
             , columns = cols)

In [302]:
PCAdf

,PCA1,PCA2,PCA3,PCA4,PCA5,PCA6,PCA7,PCA8,PCA9,PCA10,PCA11,PCA12,PCA13,PCA14,PCA15,PCA16,PCA17,PCA18,PCA19,PCA20
0,4.175829,-0.913514,-0.774966,-3.194906,-0.187935,0.885000,-4.232843,-1.348705,3.309659,3.307302,-0.127863,-0.157806,-1.474777,1.286419,1.660316,-0.573375,-1.804728,0.297913,0.222736,1.147765
1,-1.691200,-0.387239,-0.076539,-0.611680,0.473701,0.107667,-0.721878,-0.082401,0.061310,-1.103078,-0.091114,-0.205351,0.048245,0.115520,0.095146,-0.062336,-0.361427,-0.085127,0.036760,0.228798
2,8.961550,-0.924506,-0.542125,-4.756978,1.456443,1.538814,-1.287939,-1.362948,3.428058,5.032791,0.062175,0.415957,-0.423228,0.347153,0.201813,0.342466,-0.163954,-0.225152,0.254356,-0.275367
3,2.167607,-3.490266,0.663704,3.511780,2.447511,-0.229028,2.988597,0.167085,-0.664976,0.299895,0.090676,1.893152,0.230584,0.018007,-0.592949,-1.697078,1.086859,-1.985715,-0.208183,-0.835496
4,-1.668510,-0.340204,-0.095412,-0.772138,0.570506,0.146925,-0.862205,-0.099139,0.065471,-1.259335,-0.101898,-0.322568,0.076081,0.109953,0.091492,-0.039760,-0.380755,-0.087354,0.044924,0.233986
5,-1.575924,-0.232827,-0.116246,-0.818537,0.599517,0.137459,-0.921274,-0.078377,-0.017633,-1.342096,-0.107552,0.201625,-0.003032,0.177143,0.140185,-0.112607,-0.416483,-0.099311,0.082014,0.261350
6,-1.606785,-0.276542,-0.116301,-0.831892,0.616384,0.139478,-0.916940,-0.081919,0.006140,-1.386884,-0.114482,0.185641,0.022813,0.175827,0.133703,-0.102539,-0.441529,-0.120418,0.067341,0.275037
7,-1.423454,-0.068542,-0.145818,-1.055270,0.706287,0.208828,-1.139281,-0.067946,-0.055733,-1.585871,-0.127539,-0.041093,0.047185,0.151982,0.111359,-0.092157,-0.414449,-0.114050,0.064532,0.245925
8,-1.432142,-0.082092,-0.147252,-1.061607,0.711361,0.209937,-1.141945,-0.071352,-0.048295,-1.600640,-0.128787,-0.046400,0.056446,0.151253,0.108997,-0.085049,-0.422368,-0.119057,0.064003,0.248727
9,-1.607682,-0.980937,0.116807,0.757471,-0.268601,-0.272876,0.708419,0.022041,-0.095119,0.425966,0.046175,1.795299,-0.083552,0.059910,0.108002,-0.080447,0.230759,0.227405,0.146367,-0.082178
10,-1.296503,0.061421,-0.164360,-1.040451,0.726240,0.213733,-1.133543,-0.046760,-0.102014,-1.531361,-0.126877,-0.007937,0.050809,0.093958,0.097116,-0.087968,-0.244135,-0.030909,0.061618,0.185854
11,-2.673628,-1.651824,0.190665,1.521307,-0.645770,-0.458603,1.292524,-0.034921,0.113341,0.923641,0.056975,2.363234,-0.202208,0.241511,0.160505,-0.122433,-0.163231,-0.045845,0.079628,0.083677
12,-2.548074,-1.456720,0.211572,1.613450,-0.719556,-0.474520,1.331689,0.013963,0.005966,1.137589,0.075065,2.440783,-0.334181,0.251711,0.193312,-0.223283,-0.050810,0.026026,0.091296,0.044402
13,-0.314064,1.305660,-0.124330,-1.022940,0.764804,0.190083,-0.993569,0.391934,-0.470605,-0.619928,-0.053906,0.237508,-0.649448,-0.251670,0.190538,-0.508713,1.736057,0.547891,-1.302762,-0.937083
14,-0.509534,0.215933,-0.163724,-1.219565,0.768147,0.256242,-1.094560,-0.023864,-0.155300,-1.409585,-0.074268,0.009251,0.226442,-0.087701,-0.084143,0.014325,0.110399,-0.027292,0.132778,-0.063866
15,-2.691073,-1.676196,0.190535,1.513523,-0.636045,-0.457513,1.294654,-0.036780,0.126629,0.898137,0.053049,2.353839,-0.188388,0.240893,0.157376,-0.117439,-0.176674,-0.057624,0.069801,0.090984
16,-2.608382,-1.556703,0.195187,1.557700,-0.682892,-0.464313,1.295568,-0.020809,0.061282,1.025147,0.069627,2.400374,-0.260455,0.244971,0.174296,-0.154184,-0.109817,-0.004408,0.104498,0.059067
17,0.198695,-0.065384,-0.118021,-1.689163,1.328198,0.416004,-0.390389,-0.049463,-0.276858,-1.573353,-0.086788,-0.155030,0.289046,-0.017330,-0.251275,-0.187899,-0.176886,-0.599020,-0.018296,-0.003141
18,-2.690817,-1.681095,0.185216,1.503999,-0.635163,-0.455380,1.280103,-0.046224,0.129570,0.890397,0.055833,2.351327,-0.179922,0.239359,0.154688,-0.100185,-0.180675,-0.054020,0.085719,0.087352
19,2.140720,11.248447,-2.123520,2.338973,-1.309103,0.095803,1.816300,-1.980771,3.244661,-3.204532,-0.272566,-0.813794,0.107015,0.562208,0.447122,-0.038933,-1.320133,-0.416633,0.638424,0.771827
20,-2.608684,-1.550801,0.201591,1.569161,-0.683948,-0.466883,1.313087,-0.009444,0.057741,1.034466,0.066289,2.403399,-0.270648,0.246811,0.177537,-0.174937,-0.105010,-0.008746,0.085362,0.063453
21,-2.375477,-0.934128,0.256376,0.184568,0.044603,0.149393,0.246001,-0.105664,0.637291,0.422066,-0.003871,-5.087991,0.429131,-0.436854,-0.291247,0.264949,0.122559,-0.046653,-0.392361,-0.008567
22,3.896355,-0.997024,-0.742447,-3.118727,-0.219820,0.840789,-4.198249,-1.290254,3.264300,3.143019,-0.220749,-0.247105,-1.699879,1.371610,1.765956,-0.750205,-1.973675,0.158797,-0.178639,1.209045
23,-1.149704,0.076726,-0.156782,-0.906281,0.658427,0.172707,-1.070050,-0.025350,-0.072874,-1.378656,-0.068441,0.128176,0.164248,-0.023783,0.060438,-0.025315,0.155010,0.216395,0.115473,0.026637
24,-1.610438,-0.289213,-0.124664,-0.848752,0.620327,0.142928,-0.939333,-0.096657,0.013577,-1.405054,-0.111111,0.178997,0.037763,0.173527,0.129743,-0.076000,-0.449573,-0.117329,0.086974,0.270410
25,-1.555494,-0.192623,-0.090203,-0.914946,0.617519,0.218305,-0.991150,-0.077454,0.061076,-1.322739,-0.111579,-1.056671,0.134009,0.024625,0.035211,-0.013787,-0.284557,-0.061941,-0.034663,0.174612
26,-0.647871,0.601618,-0.195724,-0.803152,0.606517,0.167170,-1.112136,0.051040,-0.262232,-1.075529,0.005111,0.290797,0.183385,-0.210212,0.034658,-0.016745,0.852630,0.610292,0.249781,-0.264393
27,0.106317,0.652608,-0.152781,-0.870191,0.678559,0.197208,-0.713208,0.074125,-0.263800,-0.619629,0.024135,-0.001201,0.363030,-0.525437,-0.251077,0.230616,1.307126,0.637823,0.271311,-0.549029
28,-2.595687,-1.530634,0.203732,1.578646,-0.691573,-0.468523,1.317077,-0.004433,0.046646,1.056566,0.068186,2.411411,-0.284265,0.247852,0.180925,-0.185277,-0.093408,-0.001296,0.086667,0.059388
29,15.720491,-5.836319,-0.712501,0.785418,-9.130056,-1.671322,1.347543,0.821822,-2.137450,-3.396612,0.224316,-0.399853,1.641200,-1.488174,-2.051004,0.935968,2.693162,-1.041902,-0.214787,-2.541248
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19775,-2.756750,-1.259334,0.304589,4.063743,-2.707629,-0.678610,3.282841,-0.243817,0.960115,2.997766,0.129798,-5.399188,1.002847,-0.655963,-1.236405,2.157101,-0.968330,-0.384944,-0.753062,0.144280
19776,3.281494,-1.196876,-0.739519,-2.855640,-0.350639,0.784100,-4.154837,-1.345575,3.396323,3.193335,-0.194391,-0.051553,-1.523888,1.347179,1.729283,-0.473325,-2.061325,0.317221,0.165338,1.304546
19777,-2.646457,-1.614183,0.195642,1.534629,-0.655061,-0.463547,1.302076,-0.028623,0.094425,0.961847,0.069850,2.377368,-0.226800,0.238133,0.171108,-0.128529,-0.151028,-0.034158,0.100877,0.087285
19778,-1.667323,-0.342615,-0.094425,-0.777285,0.576431,0.145136,-0.859838,-0.102364,0.068584,-1.264905,-0.092926,-0.324320,0.078259,0.104554,0.095484,-0.026059,-0.391570,-0.090764,0.062786,0.245963
19779,-1.396159,-0.031098,-0.141407,-1.042971,0.697136,0.204062,-1.131321,-0.062503,-0.074461,-1.548403,-0.114363,-0.027342,0.022959,0.148519,0.122000,-0.096949,-0.402164,-0.101846,0.086587,0.248896
19780,-2.685187,-1.679208,0.184294,1.497332,-0.631356,-0.456659,1.276629,-0.052422,0.130435,0.888378,0.066780,2.351006,-0.178109,0.233565,0.158473,-0.081467,-0.189574,-0.053171,0.111800,0.096157
19781,-1.207911,0.111080,-0.155722,-1.058769,0.711888,0.214931,-1.149465,-0.039657,-0.095031,-1.472752,-0.087395,0.031186,0.109718,0.033287,0.053356,0.003379,-0.100242,0.038877,0.126036,0.091256
19782,8.272692,-0.684245,-0.599802,-4.299333,1.102610,1.131443,-1.291535,-1.219408,2.947446,3.567039,0.026854,0.076068,-0.253712,0.487089,0.725243,-0.016594,0.271073,0.763503,0.355690,-0.153548
19783,-0.779276,0.390960,-0.168751,-0.684513,0.631355,0.139335,-0.981505,0.021718,-0.100094,-0.955332,0.037047,-0.110444,0.340801,-0.352859,-0.004493,0.088383,1.115927,0.788757,0.230930,-0.323815
19784,7.744034,-3.158498,-1.224355,0.654735,-8.035451,-1.324421,-4.570445,0.298081,-0.296750,-3.188184,0.152404,-0.465727,0.447922,-0.503126,-0.255561,0.540290,1.694017,0.299635,-0.226009,-1.473389
19785,-1.311924,-0.027825,-0.121662,-0.635728,0.504256,0.095271,-0.829047,-0.027521,-0.091647,-1.076215,-0.040166,0.389154,0.033055,0.051666,0.124660,-0.094224,0.032597,0.158912,0.163225,0.088916
19786,-0.912428,0.478084,-0.171318,-0.984132,0.690974,0.227178,-1.091061,0.029222,-0.259410,-1.173955,-0.082526,0.168218,0.002420,-0.060835,0.010059,0.015302,0.213320,0.170758,0.120001,-0.060571
19787,3.884631,4.899026,-0.801945,-2.304361,1.195965,0.630440,-1.951187,2.135585,-4.795143,1.989673,0.054066,1.776366,0.022016,-1.833954,-2.078126,1.600117,1.677305,0.260370,-0.504699,-1.678760
19788,0.879656,-0.330796,0.044643,-1.737448,1.577400,0.481399,0.589684,0.013782,-0.523819,-1.392696,-0.102365,-0.595898,0.349151,-0.130619,-0.557341,-0.279629,-0.184166,-1.063170,-0.161713,-0.140501
19789,12.537196,7.831047,-2.307976,-3.883240,0.249925,1.489126,-1.478337,0.669367,-1.323559,6.776388,-0.221796,-1.777859,3.948143,0.374825,-3.307073,7.084643,-6.186088,-2.311888,-0.013430,2.833729
19790,-2.743026,-1.727239,0.215533,1.577497,-0.681364,-0.453631,1.359053,-0.050859,0.180715,1.037330,0.074977,1.850017,-0.144750,0.170808,0.122283,-0.053381,-0.117692,-0.024154,0.061006,0.060354
19791,-2.219559,-0.803579,0.226019,0.068204,0.057462,0.188303,0.106824,-0.113126,0.592869,0.320008,0.009706,-5.223649,0.466672,-0.466812,-0.316633,0.330297,0.138150,-0.035705,-0.341062,-0.041858
19792,-1.471592,-0.135679,-0.110157,-0.815659,0.588124,0.141395,-0.901217,-0.061615,-0.045406,-1.235351,-0.085346,0.258253,0.004008,0.122344,0.097581,-0.043819,-0.300805,-0.057534,0.127294,0.187601
19793,-2.165696,-0.712933,0.238964,0.119121,0.022908,0.177929,0.136417,-0.084157,0.543327,0.425453,0.016527,-5.184681,0.393914,-0.459557,-0.294757,0.265914,0.199644,-0.002977,-0.360121,-0.061638
19794,3.965461,12.989102,-2.342964,2.324528,-1.303191,0.142689,2.378670,-2.133525,3.978885,-2.539952,0.100005,-0.475433,0.290813,0.121341,0.521222,-0.681473,1.367395,0.524170,0.563377,-0.521183
19795,1.277188,1.420185,-0.308768,-1.253117,0.811667,0.342353,-0.242236,0.073108,0.234798,-0.787005,0.217434,0.427920,1.435725,-0.388233,-0.532703,0.707207,2.406528,0.838643,0.059107,-1.666899
19796,-1.386307,0.640440,-0.338750,-0.645406,0.448273,0.088929,-0.789927,0.008776,-0.338011,-1.120910,-0.064107,0.313527,0.199845,0.082717,-0.153184,0.701333,-1.107829,-0.133510,-0.044595,0.486235
19797,-1.601252,-0.272269,-0.114636,-0.833957,0.619782,0.137155,-0.913342,-0.083554,0.005587,-1.385149,-0.104832,0.186545,0.020526,0.170749,0.138811,-0.092117,-0.448530,-0.121319,0.085818,0.285659
19798,-0.731908,0.388293,-0.142978,-1.330939,0.843180,0.306140,-0.777557,-0.149704,0.243387,-1.048253,-0.040557,-0.530862,0.264910,-0.058377,-0.042289,0.020347,0.346108,0.165491,-0.138465,-0.355906
19799,-1.422314,-0.070343,-0.144076,-1.059076,0.712084,0.206746,-1.134836,-0.069888,-0.053006,-1.590366,-0.118928,-0.042451,0.048324,0.146757,0.115646,-0.080687,-0.424889,-0.118017,0.080493,0.258533
19800,-2.594236,-1.538184,0.199143,1.563520,-0.684728,-0.468074,1.304192,-0.017554,0.052843,1.042881,0.080067,2.407025,-0.273212,0.240850,0.182096,-0.153503,-0.108411,-0.000929,0.121195,0.067549
19801,4.768354,0.207168,0.136764,-2.709721,3.224149,0.803196,3.501065,0.492156,-1.699949,-1.002637,-0.120045,0.020093,-0.158338,-0.404240,-0.978225,-1.877497,1.634660,-2.264349,-2.239560,-1.204364
19802,-1.130812,-0.080864,-0.094434,-0.808720,0.611852,0.178903,-0.771345,-0.024267,0.110444,-0.951756,0.005501,-0.222834,0.269786,-0.123779,-0.060002,0.071280,0.312470,0.151966,0.063452,-0.087597
19803,-1.357707,-0.011264,-0.126555,-0.941548,0.647885,0.162877,-1.009844,-0.013543,-0.055816,-1.394247,-0.097612,0.054606,-0.086366,0.123900,0.170444,-0.209386,-0.121010,-0.038216,-0.213546,0.087082
19804,-1.417686,-0.069451,-0.149650,-1.067181,0.710585,0.208726,-1.150707,-0.079402,-0.053191,-1.592172,-0.115003,-0.042746,0.053842,0.145286,0.113579,-0.063701,-0.425767,-0.111270,0.099791,0.252885

In [303]:
df_mod.head()

,index,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,imp_op_var40_comer_ult1,imp_op_var40_ult1,imp_op_var41_comer_ult1,imp_op_var41_comer_ult3,...,saldo_medio_var17_ult3,saldo_medio_var29_hace2,saldo_medio_var29_hace3,saldo_medio_var29_ult1,saldo_medio_var33_hace3,saldo_medio_var33_ult3,saldo_medio_var44_hace3,var38,ID,source
0,-1.456623,0.033325,1.643091,-0.038702,-0.158883,-0.187514,-0.040374,-0.03787,-0.156793,-0.186477,...,-0.024246,-0.007106,-0.007106,-0.007106,-0.014935,-0.017771,-0.011617,-0.489910,142882,train
1,-1.456372,0.033325,-0.578956,-0.054498,-0.209579,-0.220605,-0.040374,-0.03787,-0.209609,-0.221135,...,-0.024246,-0.007106,-0.007106,-0.007106,-0.014935,-0.017771,-0.011617,0.027565,116073,train
2,-1.456121,0.033325,-0.195844,0.040278,2.798044,1.918121,-0.040374,-0.03787,2.923813,2.018884,...,-0.024246,-0.007106,-0.007106,-0.007106,-0.014935,-0.017771,-0.011617,-0.297422,40727,train
3,-1.455869,0.035937,1.643091,-0.054498,3.659191,3.509973,13.599385,-0.03787,0.869599,0.487048,...,-0.024246,-0.007106,-0.007106,-0.007106,-0.014935,-0.017771,-0.011617,0.203911,96753,train
4,-1.455618,0.033325,-0.732200,-0.054498,-0.209579,-0.220605,-0.040374,-0.03787,-0.209609,-0.221135,...,-0.024246,-0.007106,-0.007106,-0.007106,-0.014935,-0.017771,-0.011617,-0.657483,105319,train

In [304]:
dataf.head()

,index,ID,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,imp_op_var40_comer_ult1,imp_op_var40_ult1,imp_op_var41_comer_ult1,...,saldo_medio_var17_ult3,saldo_medio_var29_hace2,saldo_medio_var29_hace3,saldo_medio_var29_ult1,saldo_medio_var33_hace3,saldo_medio_var33_ult3,saldo_medio_var44_hace3,var38,TARGET,source
0,0,142882,2,55,30.0,17.73,17.73,0.00,0.0,17.73,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,59375.97,2807855.303,train
1,1,116073,2,26,0.0,0.00,0.00,0.00,0.0,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,117951.42,0.000,train
2,2,40727,2,31,180.0,1051.86,1145.91,0.00,0.0,1051.86,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,81164.61,0.000,train
3,3,96753,89,55,0.0,1353.03,1998.81,990.75,0.0,362.28,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,137912.85,0.000,train
4,4,105319,2,24,0.0,0.00,0.00,0.00,0.0,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,40407.66,0.000,train

In [307]:
dataf['target_value']= np.where (dataf.TARGET > 0,1,0)

In [308]:
dataf.head()

,index,ID,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,imp_op_var40_comer_ult1,imp_op_var40_ult1,imp_op_var41_comer_ult1,...,saldo_medio_var29_hace2,saldo_medio_var29_hace3,saldo_medio_var29_ult1,saldo_medio_var33_hace3,saldo_medio_var33_ult3,saldo_medio_var44_hace3,var38,TARGET,source,target_value
0,0,142882,2,55,30.0,17.73,17.73,0.00,0.0,17.73,...,0.0,0.0,0.0,0.0,0.0,0.0,59375.97,2807855.303,train,1
1,1,116073,2,26,0.0,0.00,0.00,0.00,0.0,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,117951.42,0.000,train,0
2,2,40727,2,31,180.0,1051.86,1145.91,0.00,0.0,1051.86,...,0.0,0.0,0.0,0.0,0.0,0.0,81164.61,0.000,train,0
3,3,96753,89,55,0.0,1353.03,1998.81,990.75,0.0,362.28,...,0.0,0.0,0.0,0.0,0.0,0.0,137912.85,0.000,train,0
4,4,105319,2,24,0.0,0.00,0.00,0.00,0.0,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,40407.66,0.000,train,0

In [313]:


PCAdf=pd.concat([PCAdf,dataf['target_value']],axis=1)

In [315]:
PCAdf.shape

(19805, 21)

In [316]:
PCAdf.head()

,PCA1,PCA2,PCA3,PCA4,PCA5,PCA6,PCA7,PCA8,PCA9,PCA10,...,PCA12,PCA13,PCA14,PCA15,PCA16,PCA17,PCA18,PCA19,PCA20,target_value
0,4.175829,-0.913514,-0.774966,-3.194906,-0.187935,0.885000,-4.232843,-1.348705,3.309659,3.307302,...,-0.157806,-1.474777,1.286419,1.660316,-0.573375,-1.804728,0.297913,0.222736,1.147765,1
1,-1.691200,-0.387239,-0.076539,-0.611680,0.473701,0.107667,-0.721878,-0.082401,0.061310,-1.103078,...,-0.205351,0.048245,0.115520,0.095146,-0.062336,-0.361427,-0.085127,0.036760,0.228798,0
2,8.961550,-0.924506,-0.542125,-4.756978,1.456443,1.538814,-1.287939,-1.362948,3.428058,5.032791,...,0.415957,-0.423228,0.347153,0.201813,0.342466,-0.163954,-0.225152,0.254356,-0.275367,0
3,2.167607,-3.490266,0.663704,3.511780,2.447511,-0.229028,2.988597,0.167085,-0.664976,0.299895,...,1.893152,0.230584,0.018007,-0.592949,-1.697078,1.086859,-1.985715,-0.208183,-0.835496,0
4,-1.668510,-0.340204,-0.095412,-0.772138,0.570506,0.146925,-0.862205,-0.099139,0.065471,-1.259335,...,-0.322568,0.076081,0.109953,0.091492,-0.039760,-0.380755,-0.087354,0.044924,0.233986,0

In [318]:

PCAdf=pd.concat([PCAdf,dataf[['ID','source']]],axis=1)

PCAdf.head()

In [321]:
train_modified=PCAdf.loc[PCAdf.source=='train']
test_modified=PCAdf.loc[PCAdf.source=='test']

In [322]:
test_modified.drop(columns=['source'],inplace=True)
train_modified.drop(columns=['source'],inplace=True)

In [323]:
train_modified.to_csv("train_ready_for_model_loan.csv",index=False)
test_modified.to_csv("test_ready_for_model_loan.csv",index=False)